:root{
 --White: hsl(0, 0%, 100%);
 --Light-gray: hsl(212, 45%, 89%);
 --Grayish-blue: hsl(220, 15%, 55%);
 --Dark-blue: hsl(218, 44%, 22%);

}
html{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;

}
body{
    background-color: var(--Light-gray);
   
}
img{
    max-width: 100%;
}
.container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main_container{
    width: min(280px , 85%) ;
    padding: 1rem;
    background-color: var(--White);
    border-radius: 1rem;

}
.img_container img{
    border-radius: .7rem;
}
.text_container{
    padding: .2rem .5rem ;
    text-align: center;
}
.text_container h3{
    font-size: 1.4rem;
    color: var(--Dark-blue);
    font-weight: 700;
}
.text_container p{
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--Grayish-blue);
}
.attribution{
    text-align: center;
    padding-top:2rem;
}
